@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Unbounded";
    font-weight: 300;
  }
}

@layer utilities {
  .regFont {
    font-family: "Unbounded";
    font-weight: 400;
  }
  .lightFont {
    font-family: "Unbounded";
    font-weight: 300;
  }
  .textGradient {
    background-image: linear-gradient(
      to right,
      #c6f1f7 0%,
      #f983e9 36%,
      #b877ff 74%,
      #c2e9cd 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
  }
}
